.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  color: white;
}

.result{
 color: white; 
}

.select{
  width: 50%;
  color: black;
}

.button{
  color: white;
  background-color: #007BFF;
  margin: 15px;
  /* padding: 10px; */
  border-radius: 5px;
}

.information{
  color: black;
}

.centered{
  text-align: center;
}

.button.info{
  background-color: #16A3B8;
  color: white;
}

.App-link {
  color: #61dafb;
}

.code{
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
