body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

codes {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: white;
}

a:link{
  color: #FF1C1C;
  text-decoration: none;
}

a:visited{
  color: #FFFFFF;
  text-decoration: none;
}

button:disabled,
button[disabled]{
  background-color: #666666;
}